<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<title>CappApp v2</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container"></div>-->

<!--<script src="public/js/vendor/require.js" type="text/javascript"></script>-->
<!--<script data-main="js/build" src="js/build.js"></script>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% for (var i=0; i <data.length; i++) { %>
    <%= data[i].name %>
    <% } %>

  </body>
</html>


