<!DOCTYPE html>
<html>
<% include partials/head %>
    <body>
        <div class="row order">
            <div class="single-order">
                <h1><%= title %></h1>

                <div class="item">
                    <div class="key">Order number: <div class="js-key key-label" data-key="<%= key %>"><%= key %></div></div>
                    <div class="<%= status %> status"><%= status %></div>

                    <% for (var i=0; i< models.length; i++) { %>
                    <div class="name"> <%= models[i].name %> </div>
                    <div class="price"> <%= models[i].price %> </div>
                    <% } %>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io();
            socket.on('updateMessage', function (data) {

                if(data.data.model.key){
                    if((data.data.model.key).toString() === (document.querySelector('.js-key').getAttribute('data-key')).toString()) {
                        document.querySelector('.status').innerHTML = data.data.status;
                        document.querySelector('.status').className += ' ' + data.data.status;
                    }
                }
            });
        </script>
    </body>
</html>
