<div class="assortment-form-container">
    <form class="assortment-form" name="assortment-form" action="javascript:void(0)">
        <div class="error-block"></div>
        <fieldset>
            <label>Add item:</label>
            <input type="text" data-validation="assortment-name" name="name" placeholder="Name">
            <div class="tooltip error"></div>
        </fieldset>
        <fieldset>
            <label>Add price:</label>
            <input type="text" data-validation="price" name="price" placeholder="Price">
            <div class="tooltip error"></div>
        </fieldset>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
