<div class="item" data-key={{key}}>
        <div class="row">
                <div class="cell-md-45 name">{{name}}</div>
                <div class="cell-md-45 price">{{price}}</div>
                <div class="cell-md-10"> <i class="delete">Delete</i></div>
        </div>
</div>
