<div class="datepicker-container">
    <input type="text" class="js-datepicker datepicker-ico" />
</div>
<h2>Day {{date}}</h2>

<div class="container-day-sells" class="statistic-placeholder" style="width:100%; height:400px;">Loading...</div>
<div class="container-day-sells-by_hours" class="statistic-placeholder" style="width:100%; height:400px;">Loading...</div>


