<div class="js-navigation-container">
    <ul class="js-navigation">
        <li data-url="assortment">Assortment</li>
        <li data-url="report">Report</li>
        <li data-url="statistic">Statistic</li>
        <li data-url="todo">ToDo <div class="in-todo"></div> </li>
    </ul>
</div>
<div class="js-main-views">
    <div class="js-last-sold-order"></div>
    <div class="js-assortment-view"></div>
    <div class="js-report-view"></div>
    <div class="js-statistic-view"></div>
    <div class="js-todo-view"></div>
</div>


