<div class="logo-block">
    <div class="logo">CapApp</div>
    <div class="moto">Track your sales.</div>

</div>
<div class="demo">
    <ul class="gallery">
        <li class="active">
            <div class="content">
                <div class="screenshot screenshot-1"></div>
                <div class="explanation">
                    <h1>Why do you need CapApp? Track yous sales.</h1>

                    <h3>Step 1:Create your product's assortment.</h3>
                </div>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="screenshot screenshot-4"></div>
                <div class="explanation">
                    <h3>Step 2: Add product to cheque and submit when you sold it.</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="screenshot screenshot-3"></div>
                <div class="explanation">
                    <h1>Why do you need CapApp? Track yous sales.</h1>

                    <h3>Track sold products for each date.</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="screenshot screenshot-7"></div>
                <div class="explanation">
                    <h1>Why do you need CapApp? Track yous sales.</h1>

                    <h3>Sells statistic is created for day, month and year .</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="screenshot screenshot-8"></div>
                <div class="explanation">
                    <h1>Why do you need CapApp? Track yous sales.</h1>

                    <h3>Sold product goes to ToDo List. Mark it as 'ready' when it is done.</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="screenshot screenshot-12"></div>
                <div class="explanation">
                    <h1>Why do you need CapApp? Track yous sales.</h1>

                    <h3>Your customer can track order status and take it when it is ready.</h3>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>

    <ul class="gallery-bullets">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="back gallery-icon"> </div>
    <div class="next gallery-icon"> </div>

</div>

<div class="demo-clients">
    <div class="screenshot screenshot-13"></div>
    <div class="explanation">
        <p>This application helps calculate small sales (as coffee etc).
            This is not for government reports, it is for private entrepreneurs who wants to calculate sales and see sale’s statistic in a easiest way.</p>

        <p>This app is used by <a href="http://www.kavusya.com" target="_blank">Coffee shop Kavusya</a>  for sell's records and statistic.</p>
    </div>
</div>

<div class="login-form-container">
    <h1>Login:</h1>
    <form class="login-form" name="login-form" action="javascript:void(0)">

        <div class="error-block error">{{loginError}}</div>
        <fieldset>
            <div>
                <label>Username:</label>
                <input type="text" data-validation="username" name="username"/>
                <div class="tooltip error"></div>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label>Password:</label>
                <input type="password" data-validation="password" name="password"/>
                <div class="tooltip error"></div>
            </div>
        </fieldset>
        <div>
            <input class="btn login-submit" type="submit" value="Log In"/>
        </div>
    </form>
</div>

<div class="registration-form-container">

    <h1>Register:</h1>
    <!--<div class="error-block"></div>-->
    <form class="registration-form" name="registration-form" action="javascript:void(0)">
        <div class="error-block error">{{registerError}}</div>
        <fieldset>
            <div>
                <label>Username:</label>
                <input type="text" data-validation="username" name="username"/>
                <div class="tooltip error"></div>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label>Password:</label>
                <input type="password" data-validation="password" name="password"/>
                <div class="tooltip error"></div>
            </div>
        </fieldset>
        <div>
            <input class="btn registration-submit" type="submit" value="Register"/>
        </div>
    </form>
</div>




