<h2>Month {{date}}</h2>
<div class="month-list">
    <ul class="js-month-list">

        {{#each data}}
            <li data-url="{{num}}" class="{{active}}">{{name}}</li>
        {{/each}}

        <!--<li data-url="01">Jan</li>-->
        <!--<li data-url="02">Feb</li>-->
        <!--<li data-url="03">March</li>-->
        <!--<li data-url="04">Apr</li>-->
        <!--<li data-url="05">May</li>-->
        <!--<li data-url="06">Jun</li>-->
        <!--<li data-url="07">July</li>-->
        <!--<li data-url="08">Aug</li>-->
        <!--<li data-url="09">Sept</li>-->
        <!--<li data-url="10">Oct</li>-->
        <!--<li data-url="11">Nov</li>-->
        <!--<li data-url="12">Dec</li>-->
    </ul>
</div>
<div class="container-month-sells" class="statistic-placeholder" style="width:100%; height:400px;">Loading...</div>