<div class="js-check-container">
    <h2>Cheque:</h2>
    <div class="js-check">

    </div>
    <button class="submit btn">Submit check</button>
</div>
<div class="datepicker-container">
    <input type="text" class="js-datepicker datepicker-ico" />
</div>
<div class="js-report-page">
    <h2>Report for {{currentDate}}: </h2>

    <div class="js-report-container">
        <div class="js-report-inner-container">

        </div>
    </div>

    {{#each items}}
    <div>{{name}} * {{price}} * {{quantity}} <i>-</i> | <i class="add">+</i></div>
    {{/each}}
</div>
