<div class="js-report-item-container">
    <div class="js-report-item row">
        <div class="cell-md-45 name">{{name}}</div>
        <div class="cell-md-20 price">{{price}}</div>
        <div class="cell-md-20 sold">{{sold}}</div>
        <div class="cell-md-10"> <i class="add">+</i></div>
    </div>
</div>
