<div class="js-statistic-view">
    <h1>Statistic page</h1>

    <div class="js-day-statistic">Day statistic view is supose to be loaded here ...</div>
    <div class="js-month-statistic">Month statistic view is supose to be loaded here ...</div>
    <div class="js-year-statistic">Year statistic view is supose to be loaded here ...</div>


    <div class="container-hours"
         style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>

</div>