<div class="item order">
    <div class="row">
            <div class="key">Order number: <div class="key-label">{{data.key}}</div> </div>
            <div class="{{data.status}} status">{{data.status}}</div>

            <!--<div class="created_at">{{data.created_at}}</div>-->

        {{#each data.models}}
            <div class="name">{{name}}</div>
        {{/each}}
    </div>
</div>

