@import "fonts";
@import "buttons";

@base-color1: #fff;
@base-color2: #ea005c;
@warning-color: red;
@second-color: #a6c5d0;
@active-color: #ff3b7c;

body {
  font-size: 1.2em;
  background: @base-color1;
  background: #ea005c;

  .font-style;
}

.font-style {
  font-size: 1.2em;
  font-family: 'AvenirNextUltraLight';
  font-weight: 200;
  font-style: normal;
}

a {
  color: @second-color;
}

input[type=text],
input[type=password] {
  font-size: 2em;
}

h1,
h2 {
  color: @base-color2;
}

.delete {
  cursor: pointer;
  background: red;
  color: @base-color1;
  padding: .2em .4em;
  border-radius: .5em;
}

.add {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  border-radius: 1em;
  vertical-align: middle;
  background: #90e22d;
  color: @base-color1;
  cursor: pointer;
  font-style: normal;
}

.error {
  color: @warning-color;
}

.fieldset-style {
  border: 1px solid @second-color;
  border-radius: .8em;
  margin: .5em 0;
}

fieldset {
  .fieldset-style;
}

label {
  color: @base-color2;
  font-weight: bold;
}

.message {
  font-size: .7em;
  margin: .3em 0;


  &.required {
    color: @warning-color;
  }
}

.js-user-panel {
  position: absolute;
  right: 0;
  color: @base-color1;
  margin: 0 .5em;
  z-index: 1;
  top: .3em;

  a {
    color: @base-color1;
    font-size: .8em;
  }
}
.js-navigation-container {
  display: table;
  width: 100%;

  .js-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;

    li {
      color: @base-color1;
      font-size: .9em;
      /*border-left: 1px solid @base-color1;*/
      float: left;

      padding: 0 1em;
      margin: 0 0 .4em 0;
      cursor: pointer;

      &.active {
        border: 1px solid rgb(255, 71, 143);;
        border-radius: .2em;
        background: #fd2c7e;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.plain-container {
  background: @base-color1;
  border-radius: 1em;
  padding: 1em;
}

.js-main-views,
.login-form-container,
.registration-form-container {
  .plain-container;
}

//.js-main-views {
//  background: #fff url("../../images/preloader/preloader-rainbow.gif") center center no-repeat;
//}
//
//
//.js-report-container,
//.js-assortment-list-container,
//.js-statistic-view {
//  background: #fff;
//}

.login-form-container,
.registration-form-container {
  margin: 1em;

  label {
    width: 6em;
    display: block;
    float: left;
  }
}

.price {
  color: @base-color2;
}

.js-assortment-list {

}

.js-report-container,
.js-assortment-outer-container {
  overflow-y: scroll;
  border-top: 2px dotted @second-color;
  border-bottom: 2px dotted @second-color;
  height: 20em;
}

.js-report-inner-container {
  padding: 0 .1em;
}
.js-report-page {
  h2 {
    margin-left: 1.5em;
  }
}

.js-check-container {
  border-radius: 1em;
  border-bottom: 2px dotted #e5f1f5;
  margin-bottom: .3em;

  .submit {
    display: none;
  }

  &.filled {
    .submit {
      display: block;
    }
  }
}

.recently-added {
  background: #dadada;
}

.js-month-list {
  list-style: none;

  li {
    background: @base-color2;
    float: left;
    padding: .1em .6em;
    color: @base-color1;
    border-radius: 1em;
    cursor: pointer;

    &:hover {
      background: #ff1b74;
    }
    &.active {
      background: @active-color;
    }
  }
}

.container {
  position: relative;

  .loader {
    color: @base-color1;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
  }
}

.row {

  .fieldset-style;

  width: 100%;
  background: @base-color1;
  display: table;

  .cell-md-10,
  .cell-md-45,
  .cell-md-20 {
    display: table-cell;
    padding: .5em .4em;
  }

  .cell-md-10 {
    width: 10%;
    text-align: right;
  }
  .cell-md-45 {
    width: 45%;
  }
}

.datepicker-ico {
  background: url("../../images/icons/calendar-tool-variant-for-time-administration.svg") 0 0 no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  width: 1em;
  text-indent: 1em;
}

.js-report-view {
  .datepicker-ico {
    margin-top: .45em;
  }
}

.js-report-view,
.js-day-statistic {
  .datepicker-ico {
    position: absolute;
  }
}

.js-day-statistic {
  .datepicker-ico {
    //margin-top: 0;
  }

  h2 {
    margin-left: 1.5em;
  }
}

.status{
  float: right;
  padding: .2em;
  background: @base-color1;
  margin: .1em;
  border-radius: .7em;
  cursor: pointer;

  &.processing {
    color: #dadada;
  }
  &.ready {
    background: rgba(46, 255, 0, 0.6);
    color: #1f690f;
    margin-right: 1.6em;
    cursor: pointer;

  &:after {
      content: '';
      display: inline-block;
      background: url("../../images/icons/error.svg") 0 0 no-repeat;
      background-size: contain;
      cursor: pointer;
      width: 2em;
      height: 1.5em;
      position: absolute;
      margin-top: -.1em;
      right: .6em;
    }
  }

  &.done {
    float: right;
    padding: .2em .4em;
    background: #ea0000;
    margin: .1em;
    margin-top: .9em;
    color: @base-color1;
    border-radius: .7em;
  }
}

.js-last-sold-order {
  float: right;
  background: rgba(255, 231, 20, 0.56);
  padding: .3em 1em;
  border-radius: .7em;
  color: @base-color2;
}

.order {
  .key {
    float: left;
    padding: .2em;
    border-radius: .9em;
    margin: .1em;
    color: #080808;
    font-size: 0.7em;

    .key-label {
      background: rgba(255, 220, 20, 0.48);
      border-radius: .5em;
      font-size: 1.5em;
      text-align: center;
      color: @base-color2;
    }
  }

  .name {
    clear: both;
    padding: .2em;
    background: @base-color1;
    border-radius: .5em;
    margin: .2em .1em;
    font-weight: bold;
    color: @base-color2;
    font-size: 1.3em;
  }

  .price {
    padding: .2em;
    background: @base-color1;
    border-radius: .5em;
    margin: .2em .1em;
    font-weight: bold;
    color: @base-color2;
    font-size: 1.3em;
    float: right;
  }
}

.single-order {
  margin: .7em;

  .order .name {
    clear: left;
    float: left;
  }

  .status.ready {
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

/*  demo  */

.demo {
  .plain-container;

  padding: 0 0 3em 0;
  margin: 1em;
  height: 14em;

  h1 {
    color: @base-color2;
    margin: 0 1em;
    font-size: 1.5em;
    padding: 0;
  }

  h3 {
    color: #000;
    margin: 0 1em;
    font-size: 1.3em;
    padding: 0;
    margin-top: 1em;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  .gallery li {
    list-style: none;
    width: 100%;
    height: 12em;
    position: absolute;
    display: none;
    background: none;

    border-radius: 1em;

    &.active {
      display: table;
    }
  }

  .content {
    /*display:table;*/
    height: 12em;
    margin: 1em;
  }

  .explanation {
    width: 80%;
  }

  .screenshot {
    background-size: cover;
    display: table-cell;
    height: 10em;
    width: 14.3em;
    border-radius: 1em;
    border: 14px solid #000000;
    float: left;
    margin-right: 2em;

    &:after {
      content: '';
      display: block;
      border: 1px solid #080808;
      height: .4em;
      width: .4em;
      background: @base-color1;
      border-radius: 1em;
      position: absolute;
      top: 6.5em;
      left: 1.1em;
    }

  }

  .screenshot-1 {
    background: url("../../images/screenshots/1.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-2 {
    background: url("../../images/screenshots/2.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-3 {
    background: url("../../images/screenshots/3.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-4 {
    background: url("../../images/screenshots/4.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-5 {
    background: url("../../images/screenshots/5.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-6 {
    background: url("../../images/screenshots/6.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-7 {
    background: url("../../images/screenshots/7.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-8 {
    background: url("../../images/screenshots/8.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-9 {
    background: url("../../images/screenshots/9.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-10 {
    background: url("../../images/screenshots/10.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-11 {
    background: url("../../images/screenshots/11.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .screenshot-12 {
    background: url("../../images/screenshots/12.png") 0 0 no-repeat;
    background-size: 100%;
  }

  .gallery-bullets {
    margin: 0;
    padding: 0;
    top: 16em;
    left: 1em;
    position: relative;

    li {
      padding: 0;
      list-style: none;
      width: 2em;
      height: .2em;
      background: rgba(234, 0, 92, 0.33);
      float: left;
      margin: .2em;
      position: relative;
      cursor: pointer;

      &.active {
        background: #308fce;
      }
    }
  }

}

/* clients */

.demo-clients {
  display: table;
  margin: 1em;

  a {
    color: @base-color1;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 2em;
    font-size: 1em;
    color: @base-color1;
  }

  p {
    margin: 2em;
    font-size: 1em;
    color: @base-color1;
  }

  .screenshot {
    background-size: cover;
    display: table-cell;
    width: 50%;
    border: 3px solid @base-color2;
    border-radius: 1em;
  }

  .screenshot-13 {
    background: url("../../images/screenshots/client-ver.png") 0 0 no-repeat;
    background-size: 100%;
  }
}

body .gallery-icon {
  width: 3em;
  height: 3em;
  position: absolute;
  border-radius: 2em;
  top: 17.9em;
  cursor: pointer;

  &.next {
    background: @base-color1 url("../../images/icons/next.png") 0 0 no-repeat;
    background-size: cover;
    right: 1em;
    margin-right: 1em;
  }
  &.back {
    background: @base-color1 url("../../images/icons/back.png") 0 0 no-repeat;
    background-size: cover;
    left: 1em;
    margin-left: 1em;
  }
}

.logo-block {
  margin: 1em;
  color: @base-color1;

  .logo {
    font-size: 1.8em;
    font-weight: bold;
  }
  .moto {
    font-size: 1em;
    color: #fdd0e1;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body {
    /*margin: 0;*/
  }

  input[type=text], input[type=password] {
    font-size: 2em;
    width: 100%;
  }

  input.datepicker-ico {
    width: 1em;
  }

  .demo-clients {

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    p {
      margin: 1em 0;
    }

    .screenshot {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;

      padding-bottom: 132%;
      display: block;
      width: 100%;
    }

    .explanation {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }
  }

  .demo {
    height: auto;

    h1 {
      margin-top: 1em;
    }

    .content {
      height: auto;
    }

    .gallery-bullets {
      top: initial;
    }

    .screenshot {
      display: block;
      float: none;
      margin: 0 auto;
      height: auto;
      width: auto;
      padding-bottom: 70%;


      &:after {
          left: auto;
          margin-left: -.6em;
      }
    }

    .gallery li {
      position: relative;
    }
  }
}


