/* Button style */

@button-gradient-color-1: #3498db;
@button-gradient-color-2: #2980b9;
@button-hover-gradient-color: #3cb0fd;
@button-border-radius: 28px;

.btn {
  background: @button-gradient-color-1;
  background-image: -webkit-linear-gradient(top, @button-gradient-color-1, @button-gradient-color-2);
  background-image: -moz-linear-gradient(top, @button-gradient-color-1, @button-gradient-color-2);
  background-image: -ms-linear-gradient(top, @button-gradient-color-1, @button-gradient-color-2);
  background-image: linear-gradient(to bottom, @button-gradient-color-1, @button-gradient-color-2);
  -webkit-border-radius: @button-border-radius;
  -moz-border-radius: @button-border-radius;
  border-radius: @button-border-radius;

  color: #ffffff;
  font-size: 23px;
  padding: 3px 15px;
  text-decoration: none;
  border: 0;
  margin: .3em;
  cursor: pointer;

@extend .font-style;
}

.btn:hover {
  background: @button-hover-gradient-color;
  background-image: -webkit-linear-gradient(top, @button-hover-gradient-color, @button-gradient-color-1);
  background-image: -moz-linear-gradient(top, @button-hover-gradient-color, @button-gradient-color-1);
  background-image: -ms-linear-gradient(top, @button-hover-gradient-color, @button-gradient-color-1);
  background-image: linear-gradient(to bottom, @button-hover-gradient-color, @button-gradient-color-1);
  text-decoration: none;
}
