@font-face {
  font-family: 'AvenirNextUltraLight';
  src: url('../../fonts/AvenirNextUltraLight.eot');
  src: url('../../fonts/AvenirNextUltraLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/AvenirNextUltraLight.woff') format('woff'),
  url('../../fonts/AvenirNextUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}